@import url('@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');');
body {
    font-family: 'VT323', monospace;
    background-color: rgb(9, 53, 102)
}
h1 {
    color:rgb(248, 202, 202);
    text-align: center;
}
p {
    color:aquamarine
}
.nav {
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
    color:rgb(31, 126, 209);
}
/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: rgb(177, 236, 233);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }